


<div class='column-3'>
	<h1>COMPLETED TASKS</h1>
	<div id='completed-tasks-list'></div>
    	<%= render partial: "task", collection: @tasks.completed_true || "No Tasks"%>
    </div>

</div>


<div class='column-3'>
    <h1>UPCOMING TASKS</h1>

    <div id='task-list'>
    	<%= render partial: "task", collection: @tasks.completed_false.order('due_date ASC') || "No Tasks"%>
    </div>

</div>




<div class='column-3'>
	<h1>Add Task</h1>

	<%= render 'form' %>
</div>







<script type="text/javascript" charset="utf-8">



$("form").on('submit', function (e) {
	e.preventDefault()
	var $form = $(this)
	var action = $form.attr('action')
	var params = $form.serialize()

	$.ajax({
		url: action,
		data: params,
		datatype: 'json',
		method: 'POST', 
	    success: function (data) {
	    	console.log('data')
	    	console.log(data)
			alert('success') 
			$("#task-list").append(data.html)},
		error: function (data) {
			alert('no success') }
	})
})



var clicks = 0

$(function () {

  $("i").on('click', function() {
    var id = this.id
    console.log(id)

  	if (clicks % 2 == 0) {
	    $('.task.'+id).css('display', 'block')
    	clicks++
	}
	else {
		$('.task.'+id).css('display', 'none')
		clicks++
	} 
  });

});







</script>