

<div id='top'>

	<h1><%= @task.title %></h1>
	<h3>DUE DATE: <%= convert_date(@task.due_date) %></h3>
	<h3><%= @task.description %></h3>

</div>

<div id='mid'>
    

    <div id='contacts' class='links-col'>
    	<h3>Contacts</h3>
    	<input type='button' value='Link To A Contact' class='add-button' id='add-task-btn'>
    	<p>a;sldkfjal</p>
    </div>    

    <div id='jobs' class='links-col'>
    	<h3>Jobs</h3>
    	<input type='button' value='Link To A Job' class='add-button' id='add-task-btn'>
    	<p>;asdkfj</p>
    	<p>sdjkjkdfjkdjf</p>
    	<p>jjjjjeeee</p>
    </div>    

    <div id='documents' class='links-col'>
    	<h3>Documents</h3>
    	<input type='button' value='Link To A Document' class='add-button' id='add-document-btn'>
    </div>

</div>