
<style>

#contact-bullet {
	list-style-type: circle;
}

.contact-item{
	color: black;
	list-style-type: circle;
}

</style>


<div class="column-3">
	<h1>References</h1>
	<%= render partial: "contact", collection: @contacts.is_reference || "No Contacts"%>
</div>



<div class="column-3">
    <h1>Contacts</h1>
    <button id="contacts-sort">Sort</button>
	<div  id='contact-list'>
	    <%= render partial: "contact", collection: @contacts || "No Contacts"%>
    </div>
</div>



<div class="column-3">
	<h1>Add Contact</h1>
	<%= render 'form' %>
</div>





<script type="text/javascript" charset="utf-8">


$(document).ready(function () {
	buttonRefFunc()
})

$("form").on('submit', function (e) {

	e.preventDefault()
	var $form = $(this)
	var action = $form.attr('action')
	var params = $form.serialize()

	$.ajax({
		url: action,
		data: params,
		datatype: 'json',
		method: 'POST', 
	    success: function (data) {
			alert('success') 
			$("#contact-list").append(data.html),
			$("#new_contact")[0].reset();
		},
		error: function (data) {
			alert('something went wrong') }
	})
})


const buttonRefFunc = function(contact) {
	$('#contacts-sort').on('click', function() {
		debugger
		let $cList = $('#contact-list')
		console.log($cList)
		const $cListSorted = $cList.sort()
		console.log($cListSorted)
		$cList.empty()
		$cList.append($cListSorted)

	})
}


</script>