



<div id="small-fields">
    <h1>Contacts</h1><br>
    <%= render partial: "contact", collection: @contacts || "No Contacts"%>
    </div>
</div>



<div id="large-fields">
	<h1>Add Contact</h1>
	<%= render 'form' %>
</div>





<script type="text/javascript" charset="utf-8">



$("form").on('submit', function (e) {
	e.preventDefault()
	var $form = $(this)
	var action = $form.attr('action')
	var params = $form.serialize()

	$.ajax({
		url: action,
		data: params,
		datatype: 'json',
		method: 'POST', 
	    success: function (data) {
			alert('success') 
			$("#contact-list").append(data.html)},
		error: function (data) {
			alert('no success') }
	})
})



var clicks = 0

$(function () {

  $("i").on('click', function() {
    var id = this.id

  	if (clicks % 2 == 0) {
	    $('.contact.'+id).css('display', 'block')
    	clicks++
	}
	else {
		$('.contact.'+id).css('display', 'none')
		clicks++
	} 
  });

});







</script>