<style>

#contact-bullet {
	list-style-type: circle;
}

.document-item{
	color: black;
	list-style-type: circle;
}

h2.doctype-grp {
	text-decoration: uppercase;
}

</style>


<div class='column-3'>


	<% Document.groupDoctype.each do |d| %>

		<h1 class='doctype-grp'><%= d[0].pluralize(2) %></h1>

		<% d[1].each do |attr| %>
			<h3><li><%= attr.title %></li></h3><br>
		<% end %> 

	<% end %>



</div>




<div class='column-3'>
    <h1>All Documents</h1>

    <div id='document-list'>
    <%= render partial: "document", collection: @documents || "No Documents"%>

    	
    </div>
</div>




<div class='column-3'>
	<h1>Add Document</h1>

	<%= render 'form' %>
</div>






<script type="text/javascript" charset="utf-8">



$("form").on('submit', function (e) {

	e.preventDefault()
	debugger
	var $form = $(this)
	var action = $form.attr('action')
	var params = $form.serialize()

	console.log('action:')
	console.log(action)
	console.log('params:')
	console.log(params)
  // debugger

	$.ajax({
		url: action,
		data: params,
		datatype: 'json',
		method: 'POST', 
	    success: function (data) {
	    	console.log('data')
	    	console.log(data)
			alert('success') 
			$("#document-list").append(data.html)},
		error: function (data) {
			alert('no success') }
	})
})













var clicks = 0

$(function () {

  $("i").on('click', function() {
    var id = this.id

  	if (clicks % 2 == 0) {
	    $('.document.'+id).css('display', 'block')
    	clicks++
	}
	else {
		$('.document.'+id).css('display', 'none')
		clicks++
	} 
  });

});







</script>