

input[type=date], select {
    width: 320px;
    height: 35px;
    padding: 12px 20px;
    margin: 0 0 15px;
    display: inline-block;
    border: 1px solid #5b4f4f;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    /*resize: vertical;*/
}




input[type=password], select {
    width: 320px;
    height: 35px;
    padding: 12px 20px;
    margin: 0 0 20px;
    display: inline-block;
    border: 1px solid #5b4f4f;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}






input[type=text], select {
    width: 320px;
    height: 35px;
    padding: 12px 20px;
    margin: 0 0 20px;
    display: inline-block;
    border: 1px solid #5b4f4f;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}


textarea, select {
    border-radius: 4px;
}



input[type=email], select {
    width: 320px;
    height: 35px;
    padding: 12px 20px;
    margin: 0 0 20px;
    display: inline-block;
    border: 1px solid #5b4f4f;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}



input[type=text]:focus {
    background-color: #f9fcfc;
}

label {
  font-size: 20px;
  font-weight: bold;
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
    width: 320px;
    background-color: black;
    color: white;
    padding: 12px 20px;
    margin-top: 35px;
    /*border: 2px solid;*/
    /*border-color: darkgray;*/
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
    /*font-weight: bold;*/
}

input[type=submit]:hover {

}

