
@import url('https://fonts.googleapis.com/css?family=Open+Sans');


html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


.wrapper {
  width: 100%;
  height: 100%;
  margin: 0 auto 100px;
  text-align: center;
  max-width: 1500px;
}


body {
  font-family: 'Open Sans', sans-serif;
}



a {
  text-decoration: none;
  color: black;
  font-weight: bigger;
}



span {
    text-transform: uppercase;
    color: darkred;
}


h3 {
    display: block;
    font-size: 1.17em;
    margin: auto;
    font-weight: bold;
}


.bullet-item{
    color: black;
    list-style-type: circle;
}






/* Create three equal columns that float beside each other */

.column {
    border-left: solid;
    border-width: 1px;
    border-color: #2d2c2c;
    text-align: left;
    float: left;
    width: 25%;
    padding: 35px;
    height: 1200px; 
}



.column-3 {
    border-left: solid;
    border-width: 1px;
    border-color: #2d2c2c;
    text-align: left;
    float: left;
    width: 33.333%;
    padding: 35px;
    height: 1200px; 
}




.left-column {
  margin: auto;
  text-align: left;
  padding: 35px;
}


/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
    text-shadow: 2px 2px #f4f2f2;
}








