


h1, h2 {
	text-transform: uppercase;
	text-shadow: 2px 2px #f4f2f2;
}


#user-show-page h3 {
    margin-top: 17px;
}



.details-container h3 {
    margin: 10px;
}



#top {
	border-bottom: solid 1px;
	text-align: center;
	padding: 25px 5px 25px;
	margin-bottom: 50px;
	
}

#mid{
	text-align: center;
	margin: 35px 5px 25px;
	display: block;

}


.bottom{
	display: inline-block;
	padding: 30px;
	border-top: solid 1px;
	width: 100%;
	border: solid black 1px;
}





.col-5 {
	width: 5%;
	margin: auto;
	float: left;
}

.col-4 {
	text-align: left;
	width: 45%;
	margin: auto;
	float: left;
    height: 100%;

}

.col-4.left {
	padding-left: 20px;
    border-right: solid black 1px;
}

.col-4.right {
	padding-left: 30px;
}

.links-col {
	width: 33.333%;
	margin: auto;
	float: left;
}


.links-col-50 {
	width: 50%;
	margin: 0 auto 100px;
	float: left;
}





#job-company-position{
    margin: auto;
    width: 50%;
    padding: 10px;
}


.headline {
    display: inline-block;
    vertical-align: top;
}


.link {
    text-decoration: underline;
}